*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1128px) {
	#menu, #titulo, #conteudo,#rodape{ 
	   width: 100%;
	}
}

@media screen and (max-width: 768px) {
	#menu, #titulo, #conteudo,#rodape{ 
	   width: 50%;
	}
}

@media screen and (max-width: 520px) {
	#menu, #titulo, #conteudo,#rodape{ 
	   width: 90%;
	}
}

body{
    margin: 0 auto;
    max-width: 1000px;
    font-family: 'Times New Roman', Times, serif;
    background-color: indianred;
    max-width:960px;
	margin:0 auto;
	overflow:hidden;  
}

#menu{
    width: 100%;
    height: 10vh;
    text-align: center;
    height: auto;
}

nav ul li{
    display: inline-block;
}


ol, ul, li{
    list-style-type: none;
}


a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#amarilis{
    padding:15px;
}


#titulo{
    width: 100%;
    height: 20vh;
    text-align: center;
    padding: 1px;
    height: auto;
}

.anturio{
    margin-top: 45px;
}

#conteudo{
    width: 100%;
    height: 60vh;
    text-align: justify;
    padding: 1px;
    height: auto;
}



#rodape{
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 1px;
    height: auto;
}

.camelia{
    margin-top: 52px;
}

h1{
    font-size: 45pt;
}

.alisso::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}
  
.alisso:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}
  
.alisso::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-color: teal;
    z-index: -1;
    transition: transform .3s ease;
}
  
.alisso{
    position: relative;
}
  
html{
    block-size: 100%;
    inline-size: 100%;
}
  

@media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
}

strong{
    background-color: teal;
}